.sidebar{

position:fixed;

left:0;

top:0;

bottom:0;

width:270px;

background:#111827;

border-right:1px solid rgba(255,255,255,.08);

padding:30px;

display:flex;

flex-direction:column;

}

.logo{

font-size:28px;

font-weight:700;

color:white;

margin-bottom:50px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:15px;

}

.sidebar nav a{

display:flex;

align-items:center;

gap:15px;

padding:16px 18px;

border-radius:14px;

text-decoration:none;

color:#cbd5e1;

transition:.3s;

font-weight:500;

}

.sidebar nav a:hover,
.sidebar nav a.active{

    background:#2563eb;

    color:white;

    transform:translateX(6px);

}

@media(max-width:900px){

.sidebar{

display:none;

}

}