.topbar{

height:85px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

background:#111827;

border-bottom:1px solid rgba(255,255,255,.08);

}

.search-box{

display:flex;

align-items:center;

gap:12px;

background:#1e293b;

padding:12px 20px;

border-radius:40px;

width:420px;

color:#94a3b8;

}

.search-box input{

flex:1;

border:none;

background:transparent;

color:white;

outline:none;

font-size:15px;

}

.topbar-right{

display:flex;

align-items:center;

gap:25px;

}

.topbar-right button{

width:46px;

height:46px;

border:none;

border-radius:50%;

background:#1e293b;

color:white;

cursor:pointer;

transition:.3s;

}

.topbar-right button:hover{

background:#2563eb;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.profile img{

width:45px;

height:45px;

border-radius:50%;

}

.profile strong{

display:block;

color:white;

}

.profile small{

color:#94a3b8;

}

@media(max-width:900px){

.topbar{

padding:0 20px;

}

.search-box{

width:220px;

}

.profile div{

display:none;

}

}